package templates

templ Hello(name string) {
	<div class=" text-red-500 font-bold text-4xl">
		<p class="text-center bg-black">
			Hello, { name }
		</p>
		<link rel="stylesheet" href="static/css/tailwind.css"/>
	</div>
}
