package layout

templ Base() {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Bookmarks</title>
			<link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
			<link rel="stylesheet" href="/static/css/tailwind.css"/>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		</head>
		<body class="dark bg-slate-900 p-2">
			{ children... }
		</body>
	</html>
}
